body {  
    margin: 0;  
    font-family: Arial, sans-serif;  
}  

header {  
    background-color: #00BFFF; /* Màu xanh cho header */  
    padding: 20px;  
    text-align: center;  
    color: white;  
}  

.container {  
    display: flex;  
}  

.sidebar {  
    background-color: #32CD32; /* Màu xanh lá cho sidebar */  
    width: 200px; /* Chiều rộng sidebar */  
    padding: 20px;  
    box-sizing: border-box;  
}  

.content {  
    background-color: #FF6347; /* Màu đỏ cho content */  
    flex-grow: 1; /* Giãn nở để chiếm không gian còn lại */  
    padding: 20px;  
    box-sizing: border-box;  
}  

footer {  
    background-color: #800080; /* Màu tím cho footer */  
    padding: 20px;  
    text-align: center;  
    color: white;  
}  