body {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    height: 100vh;  
    margin: 0;  
    background-color: #f0f0f0;  
}  

.rectangle {  
    width: 200px;  
    height: 100px;  9999
    background-color: green;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    margin-bottom: 20px;  
}  

.diamond {  
    width: 100px;  
    height: 100px;  
    background-color: green;  
    transform: rotate(45deg);  
    display: flex;  
    align-items: center;  
    justify-content: center;  
}  

p {  
    color: white;  
    transform: rotate(-45deg);  
    margin: 0;  
}  